#desktop {
  position: relative;
  background: url("../../public/widows7wallpaper.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow-y: hidden;
}

#apps {
  pointer-events: none;
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
}

#icons-grid {
  width: 100%;
  height: calc(100% - 50px);
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  grid-template-rows: repeat(auto-fill, 96px);
  padding-top: 16px;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 300px;
  min-height: 125px;

  .error-message__body {
    padding: 16px 0;

    .error-message__icon-wrapper {
      height: 24px;
      aspect-ratio: 1 / 1;

      .error-message__icon {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }

    // .error-message__message {
    // }
  }

  .error-message__footer {
    display: flex;
    align-items: flex-end;
  }
}
