.file-explorer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: auto 1fr auto;
}

.menubar.fe-menubar {
  grid-row: 1;
  grid-column: span 2;
}

.fe-navigation {
  width: 100%;
  height: 22px;
  display: flex;
  gap: 16px;
  margin-bottom: 8px;

  .fe-navigation__arrows {
    height: 100%;
    display: flex;
    width: fit-content;

    .fe-navigation__arrow-wrapper {
      height: 100%;
      aspect-ratio: 1 / 1;

      .fe-navigation__arrow {
        height: 100%;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .fe-navigation__path {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4);
    padding: 2px 4px;

    .fe-navigation__path-icon-wrapper {
      height: 1.25rem;
      width: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      .fe-navigation__path-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }

    .fe-navigation__path-item {
      cursor: pointer;
    }
  }

  .fe-navigation__search {
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4);
    overflow: hidden;
    text-overflow: ellipsis;
    &::placeholder {
      color: rgb(163, 163, 163);
    }
  }
}

.fe-side-panel {
  grid-row: 2;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0;
  border-right: 1px solid lightgray;
}

.fe-origin {
  width: 100%;

  .fe-origin__header {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 16px 8px 16px;

    .fe-origin__header-icon-wrapper {
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      .fe-origin__header-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }

    // .origin__header-title {
    // }
  }

  .fe-origin__list {
    width: 100%;
    display: flex;
    flex-direction: column;

    .fe-origin__list-item {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 4px 24px;
      cursor: pointer;

      &.active {
        border-radius: 2px;
        box-shadow: inset 0 0 3px rgba(0, 120, 206, 0.4);
        background: linear-gradient(
          to top,
          rgba(138, 192, 233, 0.3),
          rgba(255, 255, 255, 0.1) 70%
        );
      }

      &:hover {
        border-radius: 2px;
        box-shadow: inset 0 0 3px rgba(0, 120, 206, 0.4);
        background: linear-gradient(
          to top,
          rgba(138, 192, 233, 0.3),
          rgba(255, 255, 255, 0.1) 70%
        );
      }

      .fe-origin__list-item-icon-wrapper {
        height: 1.25rem;
        width: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }

      .fe-origin__list-item-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }

      // .fe-origin__list-item-title {
      // }
    }
  }
}

.fe-location {
  grid-row: 2;
  width: 100%;
  height: 100%;
  .fe-location__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 16px;
    border-bottom: 1px solid lightgray;

    .fe-location__title {
      font-weight: normal;
      font-size: 1.725rem;
      color: green;
    }

    .fe-location__arrange {
      display: flex;
      align-items: center;
      gap: 8px;
      .fe-location__arrange-label {
        color: gray;
      }
      .fe-location__arrange-option {
        color: rgb(47, 175, 255);
      }
    }
  }

  .fe-location__grid {
    display: grid;
  }
}

.fe-footer {
  grid-row: 3;
  grid-column: span 2;
  padding: 12px 24px;
  background-color: white;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  gap: 16px;

  .fe-footer__icon-wrapper {
    height: 48px;
    aspect-ratio: 1 / 1;

    .fe-footer__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .fe-footer__entity-info {
    display: grid;
    grid-auto-flow: column; /* fill columns top-to-bottom, then move right */
    grid-template-rows: repeat(2, auto); /* only two rows per column */
    gap: 4px 16px; /* row-gap column-gap */
  }

  .fe-footer__label {
    color: gray;
  }
}
