.icon__wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  .icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;

    .icon__icon-wrapper {
      height: 50px;
      aspect-ratio: 1 / 1;

      .icon__icon {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .icon__title {
      text-align: center;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .icon.white-text {
    .icon__title {
      color: white;
      text-shadow: 0 0 3px black;
    }
  }
}

.icon__wrapper.focused {
  .icon {
    border-radius: 3%;
    background-color: rgba(170, 220, 255, 0.458);
    box-shadow: 0 0 0 1px rgba(170, 220, 255, 0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    height: fit-content;
    z-index: 2;
  }

  .icon__title {
    display: block;
    text-overflow: unset;
    text-shadow: 0 0 3px white, 0 0 2px white, 0 0 1px white;
    overflow: visible;
  }
}

.icon__wrapper:hover {
  .icon {
    border-radius: 3%;
    background-color: rgba(170, 220, 255, 0.2);
    box-shadow: 0 0 0 1px rgba(170, 220, 255, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .icon.dock {
    border-radius: none;
    background-color: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}

.icon.dock {
  overflow: hidden;
  height: 100%;
  padding: 8px 16px;

  .icon__icon-wrapper {
    margin: auto;
    height: 100%;
  }

  &.running {
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);

    overflow: hidden;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(181, 181, 181, 0.3)
    );
  }
}

.icon__wrapper.dock.focused {
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(181, 181, 181, 0.1)
  );
  border-radius: 3px;
  overflow: hidden;

  .icon {
    height: 100%;
  }
}
