@use "colors";

@use "desktop";
@use "dock";
@use "contextmenu";
@use "window";
@use "photo_viewer";
@use "icon";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: #fff;
  color: #000;
}

button {
  cursor: pointer;
  user-select: none;
}
