.internet-explorer {
  width: 100%;
  height: 100%;
  position: relative;
}

.ie-navigation {
  width: 100%;
  height: 24px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.ie-navigation__searchbar {
  display: flex;
  width: 100%;
  border-radius: 2px;
  border: 1px solid black;
  overflow: hidden;

  .ie-navigation__searchbar__input {
    flex: 1;
    padding: 0 8px;
    font-style: italic;
    background-color: white;
    color: rgb(139, 139, 139);
  }

  .ie-navigation__searchbar__button-wrapper {
    height: 100%;
    cursor: pointer;
    border-left: 1px solid black;
    background-color: white;
    padding: 2px;

    .ie-navigation__searchbar__button {
      height: 100%;
      object-fit: contain;
    }
  }
}

.ie-navigation__search-engines {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 0 4px;
  gap: 4px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
  overflow: hidden;

  .ie-navigation__search-engines__icon-wrapper {
    height: 100%;
    padding: 4px;

    .ie-navigation__search-engines__icon {
      height: 100%;
      object-fit: contain;
    }
  }

  .ie-navigation__search-engines__engine-name {
    font-style: italic;
  }
}

.ie-bkmrks-tabs {
  position: absolute;
  width: 100%;
  background-color: rgb(243, 250, 255);
  border-bottom: 1px solid black;
  font-size: 0.8rem;

  .ie-bookmarks {
    padding: 8px;
  }

  .ie-bookmarks-favourites {
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: auto;
    }

    span {
      padding-right: 8px;
    }
  }

  .ie-tabs {
    display: flex;
    padding: 0 8px;
    gap: 3px;
    width: 100%;
    overflow: hidden;

    .ie-tab {
      flex: 1 1 0; // <-- позволяет сжиматься
      max-width: 200px;
      min-width: 40px; // не обязательно, но защитит от обнуления
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 0.8rem;
      padding: 6px 12px;
      background: linear-gradient(
        to top,
        rgb(205, 211, 219) 20%,
        rgb(176, 200, 230)
      );
      border-radius: 2px 2px 0 0;
      border: 1px solid rgb(89, 89, 89);
      border-bottom: none;
      overflow: hidden;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        height: 14px;
        width: auto;
        flex-shrink: 0;
      }
    }

    .ie-tab.active {
      flex: 0 0 200px; // <-- фиксируем ширину
      max-width: 200px;
      min-width: 200px;
      background: linear-gradient(
        to top,
        rgb(239, 246, 255) 20%,
        rgb(195, 222, 255)
      );
    }
  }
}

.ie-tab-content {
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
