.internet-explorer {
  width: 100%;
  height: 100%;
  position: relative;
}

.ie-nav {
  width: 100%;
  height: 24px;
  display: flex;
  gap: 8px;

  margin-bottom: 8px;
}

.ie-arrows {
  width: fit-content;
  display: flex;
  background: url("/assets/ie-arws-bc.png");
  background-repeat: no-repeat;
  background-size: contain;

  .ie-arrow-back,
  .ie-arrow-forward {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: none;
    border: none;
  }

  .ie-arrow-back {
    scale: 0.85;
    background: url("/assets/ie-back.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .ie-arrow-forward {
    scale: 0.85;
    background: url("/assets/ie-forward.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.ie-searchbar {
  flex: 1;
  display: flex;
  input {
    padding: 0 8px;
    flex: 1;
    border-radius: 3px 0 0 3px;
    border: 1px solid black;
    color: gray;
    font-style: italic;
  }

  .ie-refresh,
  .ie-stop-loading {
    border: 1px solid black;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .ie-refresh {
    background: url("/assets/ie-refresh.svg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    border-left: none;
    border-right: none;
  }

  .ie-stop-loading {
    background: url("/assets/ie-stop-loading.svg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
  }
}

.ie-search-engines {
  width: 30%;
  background: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 6px;
  img {
    height: 12px;
    width: auto;
  }
  span {
    color: gray;
    font-style: italic;
    font-size: 0.8rem;
  }
}

.ie-bkmrks-tabs {
  position: absolute;
  width: 100%;
  background-color: rgb(243, 250, 255);
  border-bottom: 1px solid black;
  font-size: 0.8rem;

  .ie-bookmarks {
    padding: 8px;
  }

  .ie-bookmarks-favourites {
    display: flex;
    align-items: center;
    img {
      height: 20px;
      width: auto;
    }

    span {
      padding-right: 8px;
    }
  }

  .ie-tabs {
    display: flex;
    padding: 0 8px;
    gap: 3px;
    width: 100%;
    overflow: hidden;

    .ie-tab {
      flex: 1 1 0; // <-- позволяет сжиматься
      max-width: 200px;
      min-width: 40px; // не обязательно, но защитит от обнуления
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 0.8rem;
      padding: 6px 12px;
      background: linear-gradient(
        to top,
        rgb(205, 211, 219) 20%,
        rgb(176, 200, 230)
      );
      border-radius: 2px 2px 0 0;
      border: 1px solid rgb(89, 89, 89);
      border-bottom: none;
      overflow: hidden;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        height: 14px;
        width: auto;
        flex-shrink: 0;
      }
    }

    .ie-tab.active {
      flex: 0 0 200px; // <-- фиксируем ширину
      max-width: 200px;
      min-width: 200px;
      background: linear-gradient(
        to top,
        rgb(239, 246, 255) 20%,
        rgb(195, 222, 255)
      );
    }
  }
}

.ie-tab-content {
  width: 100%;
  height: 100%;
  margin-top: 65px;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
