.photo-viewer {
  width: 100%;
}

.photo-viewer.control-panel {
  button {
    height: 100%;
    background: none;
    border: none;
  }

  .wpv-secondary-btn {
    height: 24px;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }

  .wpv-prev-next {
    height: 56px;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }

  .wpv-ss {
    height: 81px;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }

  padding: 16px 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 42px;
  .main-three {
    display: flex;
    align-items: center;
  }
}

.photo-viewer img {
  cursor: arrow;
  user-select: none;
}

.photo-viewer.content * {
  width: 100%;
}
