@use "colors";
@use "mixins";

.window {
  pointer-events: auto;
  position: absolute;
  top: 100px;
  left: 500px;

  display: flex;
  flex-direction: column;

  min-width: 300px;
  min-height: 200px;
  width: 700px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;

  padding: 0 10px 10px 10px;

  // colors
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5),
    inset 0 0 2px 2px rgba(255, 255, 255, 0.5);
  background: radial-gradient(
      circle at 0% 30%,
      rgba(255, 255, 255, 0.5) 10%,
      rgba(0, 170, 255, 0.1) 70%
    ),
    radial-gradient(
      circle at 100% 40%,
      rgba(255, 255, 255, 0.5) 10%,
      rgba(0, 170, 255, 0.1) 70%
    );
}

.window .window-content {
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;

  // colors
  background: white;
  border-radius: 2px;

  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.window .window-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;

  .window-title {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 4px rgba(255, 255, 255, 0.6), 0 0 6px rgba(255, 255, 255, 0.4);
  }
}

.window .window-nav .min-max-close {
  overflow: hidden;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr 1.7fr;
  width: 130px;
  height: 25px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0 1px rgba(255, 255, 255, 0.5),
    1px 0 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(255, 255, 255, 0.5),
    inset 0 -1px 1px rgba(255, 255, 255, 0.5),
    inset 1px 0 1px rgba(255, 255, 255, 0.5),
    inset -1px 0 1px rgba(255, 255, 255, 0.5);

  border-top: none;
  border-radius: 0 0 6px 6px;

  button {
    background: none;
    border: none;
  }

  .minimize {
    background: linear-gradient(
      to bottom,
      rgba(196, 196, 196, 0.3) 20%,
      rgba(162, 192, 207, 0.3),
      rgba(111, 131, 148, 0.3)
    );
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -1px 0 1px rgba(255, 255, 255, 0.5);
  }

  .maximize {
    background: linear-gradient(
      to bottom,
      rgba(196, 196, 196, 0.3) 20%,
      rgba(162, 192, 207, 0.3),
      rgba(111, 131, 148, 0.3)
    );
    box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.5),
      inset -1px 0 1px rgba(255, 255, 255, 0.5);
  }

  .close {
    opacity: 80%;
    background: linear-gradient(
      to bottom,
      rgb(188, 133, 133) 20%,
      rgb(211, 44, 44),
      rgb(147, 13, 13)
    );
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.5);
  }
}

.window.minimized {
  display: none;
}

.resizer {
  position: absolute;
  z-index: 10;
  // background-color: rgba(255, 0, 0, 0.526);
  &.right {
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    cursor: e-resize;
  }
  &.left {
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    cursor: w-resize;
  }
  &.top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    cursor: n-resize;
  }
  &.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    cursor: s-resize;
  }
  &.topright {
    top: 0;
    right: 0;
    width: 4px;
    height: 4px;
    cursor: ne-resize;
  }
  &.bottomright {
    bottom: 0;
    right: 0;
    width: 4px;
    height: 4px;
    cursor: se-resize;
  }
  &.bottomleft {
    bottom: 0;
    left: 0;
    width: 4px;
    height: 4px;
    cursor: sw-resize;
  }
  &.topleft {
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    cursor: nw-resize;
  }
}
